.container {
  @include make-container();
  @include make-container-max-widths();
}

.container-fluid {
  @include make-container();
}

.news-section {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2%;
  row-gap: 80px;
  @media screen and (max-width:  $breakpoint-mobile) {
    flex-direction: column;
    
 }
  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    @media screen and (max-width:  $breakpoint-mobile) {
      
      height: 300px;
         
         }
  }
  .news-section-half {
    width: 49%;
    @media screen and (max-width:  $breakpoint-mobile) {
     width: 100%;
      
   }
   
  }
  .news-section-full {
    width: 100%;
    
    &-flex {
      display: flex;
      @media screen and (max-width:  $breakpoint-mobile) {
        flex-direction: column !important;
         
      }

    }
    .main-news {
      width: 70%;
      @media screen and (max-width:  $breakpoint-mobile) {
        width: 100%;
         
      }
    }
    .sub-news {
      width: 30%;
      height: 500px;
      margin-left: 50px;
      @media screen and (max-width:  $breakpoint-mobile) {
        width: 100%;
         margin-left: 0px;
      }
      &-content {
        height: 50%;
        border-top: 2px solid #dddddd;
        &:last-child {
          border-bottom: 2px solid #dddddd;
        }
      }
     
    }
  }
  .reverse {
    flex-direction: row-reverse;
    .sub-news {
      margin-left: 0px;
      margin-right: 50px;
      @media screen and (max-width:  $breakpoint-mobile) {
        margin-right: 0px;
        flex-direction: column ;
         
      }
    }
  }
}
.client-logo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 20px;
  &-content {
    width: 25%;
    padding: 30px;
    @media screen and (max-width:  $breakpoint-mobile) {
      width: 50%; 
    }
    img {
      width: 100%;
      height: auto;
      object-fit: scale-down;
    }
  }
}
.contact-form {
  display: flex;
  @media screen and (max-width:  $breakpoint-mobile) {
    flex-direction: column;
   }
  &-container {
    width: 70%;
    @media screen and (max-width:  $breakpoint-mobile) {
     width: 100%;
    }
  }

  &-text {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width:  $breakpoint-mobile) {
      width: 100%;
      flex-direction: row;
     }
    h4 {
      font-size: 40px;
      line-height: 60px;
      color: #0e0e0e;
      font-weight: 600;
      @media screen and (max-width:  $breakpoint-mobile) {
        font-size: 18px;
        padding-right: 4px;
       }
    }
  }
  &-input {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    .input-field {
      width: 48%;
      margin-top: 70px;
      @media screen and (max-width:  $breakpoint-mobile) {
        width: 100%;
       }
    }
  }
&-content {
  width: 60%;
  @media screen and (max-width:  $breakpoint-mobile) {
    width: 100%;
  }
}
}

.social-networks-footer {
  display: flex;
  margin-left: auto;
  align-items: center;
  a {
    margin-right: 30px;
    &:last-child {
      margin-right: 0px;
    }
    @media screen and (max-width:  $breakpoint-mobile) {
      margin-right: 0px;
    }
  }
  .facebook { 
    &::after{
      content: url("../assets/Icons/icon-fb.svg");
      display: block;
    
    }
  }
  .twitter {
    &::after{
      content: url("../assets/Icons/icon-twitter.svg");
      display: block;
    
    }
  }
  .instagram {
    &::after {
      content: url("../assets/Icons/icon-instagram.svg");
    }
  }
  @media screen and (max-width:  $breakpoint-mobile) {
          
    flex-direction: column;
   
   }
}
.show-me {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  p {
    color: #a3a3a3;
    font-size: 28px;
    line-height: 32px;
  }
  @media screen and (max-width:  $breakpoint-mobile) {
   flex-direction: column;
   align-items: flex-start;
   p {
     font-size: 16px;
   }
}
.filter-content {
  display: flex;
  align-items: center;
}
}
.dept-logo {
  width: 25%;
  margin-bottom: calculate-rem(100px);
   &::after {
       content: "";
       background-image: url("../assets/Icons/icon-dept-white.svg");
       display: block;
       background-repeat: no-repeat;
        background-size: contain;
        width: 100px;
        height: 28px;
        @media screen and (max-width:  $breakpoint-mobile) {
          width: 60px;
          height: 20px;
        }
   }
}
.side-menu {
  position: fixed;
  background-color: $color-primary-black;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  z-index: 200;
  padding: 50px 80px;
  left: 100%;
  transition: 1s;
  @media screen and (max-width:  $breakpoint-mobile) {
    padding: 20px;
 }
  .content-holder {
    position: relative;

  }
  
.social-networks , .dept-global {
  display: flex;
  flex-direction: column;
 
  li {
    font-size: 12px;
    color: $color-primary-white;
    padding-bottom: 3px;
    text-transform: uppercase;
  }
  @media screen and (max-width:  $breakpoint-mobile) {
  display: none;
 }
}

.social-networks {
  margin-top: -15px;
}
.dept-global {
    margin-bottom: -80px;
}
.close-icon{
  font-size: 30px;
  position: absolute;
  color: $color-primary-white;
  right: 0px;
  top:0px;
  cursor: pointer;
  @media screen and (max-width:  $breakpoint-mobile) {
  top: -10px;
  }
}
}
.active {
  left: 0%;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  li {
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #a3a3a3;
    color: $color-primary-white;
    width: 100%;
    text-align: end;
    &:first-child , &:last-child {
      width: 90%;
      @media screen and (max-width:  $breakpoint-mobile) {
        width: 100%;
      }
    }
    @media screen and (max-width:  $breakpoint-mobile) {
      font-size: 30px;
   }
  }
}
.client-res {
  display: flex;
  justify-content: center;
 
  padding-top: 80px;
  border-top: 2px solid #dddddd;
  div {
    width: 80%;
    margin: 0 auto;
  }
  p {
    font-size: 26px;
    color: #272727;
    line-height: 46px;
    font-weight: 700;
    @media screen and (max-width:  $breakpoint-mobile) {
      font-size: 18px;
      line-height: 30px;
       
   }
  }
  .client-name {
    font-size: 13px;
    margin-top: 18px;
  }
}
.client-section {
  width: 100%;
  background-color: #f3f6f6;
  &-header {
    padding-top: 80px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    @media screen and (max-width:  $breakpoint-mobile) {
      
     width: 100%;
         
         }
    h2 {
      margin-bottom: 30px;
    }
  }
}
