footer {
    padding: 98px 0px 112px 0px;
    margin-top: 80px;
   
    background-color: black;
    .links-top {
        a {
            color: $color-primary-white;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 32px;
        }
    }
    .footer-content {
        display: flex;
        align-items: center;
        padding-bottom: 22px;
        border-bottom: 1px solid #3e3e3e;
    }
    .links-top {
        display: flex;
        align-items: center;
        a {
            font-size: 18px;
            padding-right: 26px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    .adress {
        width: 75%;
        display: flex;
        margin-left: auto;
        padding-top: 56px;
        a {
            color: white;
       
        }
        p {
            color: #808080;
        }
    }
    .copyright {
        margin-left: auto;
       
    }
    
}