header {
    background-image: url("../assets/Images/Header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 900px;
    height: 900px;
    // padding-top: 57.14px;
    @media screen and (max-width:  $breakpoint-mobile) {
        min-height: 300px;
        height: 300px;
        margin-top: 50px;
           position: relative;
           }
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .header-content {
     border-bottom: 2px solid $color-primary-black;
     padding-bottom: 24px;
     display: flex;
     align-items: center;
     padding-top: 28px;
    &-logo {
        background-image: url("../assets/Icons/icon-dept.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 100px;
        height: 28px;
        @media screen and (max-width:  $breakpoint-mobile) {
            width: 50px;
            height: 20px;
            
            }
        
    }
    &-menu {
        margin-left: auto;
        display: flex;
        
        p , a {
            padding-left: 26px;
        }
    }
   
}
.header-body {
    padding-top: 80px;
    @media screen and (max-width:  $breakpoint-mobile) {
    padding-top: 30px;
        
        }
}
.header-button {
    margin-top: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @media screen and (max-width:  $breakpoint-mobile) {
        margin-top: 125px;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -50px;
        width: 90%;
        margin: 0 auto;
            
     }
}

}
.sticky {
    position: fixed;
    left: 0px;
    right: 0px;
    top:0px;
    z-index:200;
    background-color:white;
    height: 50px;
    padding: 0px 20px !important;
    

}
.burger-menu {
    padding-right: 0px !important;
    cursor: pointer;
    &::after {
        content: url("../assets/Icons/icon-menu.svg");
        display: block;
        
    }
}