.message {
    @extend .padding-all-md;
    font-size: calculate-rem(14px);


    @each $name,
    $color in ($colors-message) {

        &.message-#{$name} {
            color: $color-white;
            background-color: $color;

            .message-link {
                // font-weight: bold;
                text-decoration: underline;
                color: $color-white;

            }

        }

    }
}