.menu-text {
    font-size: calculate-rem(18px);
    color: $color-primary-black;
    text-transform: uppercase;
    font-weight: bold;
    @media screen and (max-width:  $breakpoint-mobile) {
     font-size: 16px;
        
        }

}
.header-title {
    font-size: calculate-rem(180px);
    font-weight: bolder;
    word-wrap: break-word;
    text-transform: uppercase;
    @media screen and (max-width:  $breakpoint-mobile) {
        font-size: calculate-rem(85px);
        text-align: center;
    }
}
.news-text {
    color: $color-light-black;
    font-size: calculate-rem(22px);
    line-height: 32px;
    font-weight: bold;
    @media screen and (max-width:  $breakpoint-mobile) {
        font-size: calculate-rem(20px);
        
    }

}
.brand {
    color: $color-primary-grey;
    font-size: calculate-rem(15px);
    line-height: 30px;
    margin-top: 18px;
    margin-bottom: 12px;
    @media screen and (max-width:  $breakpoint-mobile) {
        font-size: calculate-rem(14px);
        
    }
}

.view-cases {
    margin-top: 14px;
    display: flex;
    align-items: center;
    @media screen and (max-width:  $breakpoint-mobile) {
       display: none;
        
    }
    p {
        margin-left: 10px;
    }
    .icon-inline {
        transform: rotate(33deg);
    }

    
}
.blue-text {
 
        color : $color-light-blue;
        font-size: 14px;
        line-height: 30px;
        font-weight: 800;
        text-transform: uppercase;
}

.black-large-text {
    font-size: 60px;
    color: #0e0e0e;
    font-weight: 700;
    line-height: 60px;
    font-family: $font-primary;
    @media screen and (max-width:  $breakpoint-mobile) {
        font-size: 30px;
           
           }
}
.black-small-text {
    font-size: 17px;
    line-height: 27px;
    color: #0e0e0e;
    font-weight: 500;
}



.input-field-login {

    .input-label {
        font-size: 20px;
        line-height: 60px;
        color: #0e0e0e;
        font-weight: 600;
    }
 
  input  {
                 
    background-color: #FFFFFF;
    border: 2px solid #E0E0E0;
    color:#3C3733;
    border-radius: 8px;
    margin-left: 10px;
    width: 130px;
    height: 56px;
    color: #3C3733;
    font-size: calculate-rem(16px);
    line-height: calculate-rem(20px);
    font-weight: 500;
    margin-bottom: 8px;
}
}
.error-message {
    color: red;
}
.login-mail {
    @media screen and (max-width:  $breakpoint-mobile) {
        display: none;
}
}
.logout {
    cursor: pointer;
}