@import "./avatar";
@import "./full-width";
@import "./thumbnail";
@import "./circle";



@each $name,
$image in ($images) {

    .img-#{$name} {
        width: $image;
        height: $image;
        object-fit: cover;
    }

}