// button width
$btn-radius:                0.5rem;
$btn-font-size:             0.8rem;
$btn-padding:               1rem 2rem;
$btn-size-xs:               7.5rem;
$btn-size-sm:               9.375rem;
$btn-size-md:               11.25rem;
$btn-size-lg:               12.5rem;
$btn-size-xl:               18.75rem;
$btn-icon-spacing:          2rem;