$toast-max-width:                   350px;
$toast-padding-x:                   .75rem;
$toast-padding-y:                   .25rem;
$toast-font-size:                   .875rem;
$toast-color:                       null;
$toast-background-color:            rgba($color-white-1, .85);
$toast-border-width:                1px;
$toast-border-color:                rgba(0, 0, 0, .1);
$toast-border-radius:               .25rem;
$toast-box-shadow:                  0 .25rem .75rem rgba($color-black-0, .1);

$toast-header-color:                #6c757d;
$toast-header-background-color:     rgba($color-white-1, .85);
$toast-header-border-color:         rgba(0, 0, 0, .05);